#webcam {
    opacity:1;
    position: fixed;
    background-size: 100% 100%;
    top: 0; left: 0; 
    min-width: 100%; min-height: 100%;
    width: auto; height: auto;
    z-index: -1000;
}
.intro-overlay {
  z-index: 1;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.button {
  border: none;
  color: white;
  opacity: 0.9;
  background-color:crimson;
  padding: 8px 16px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: PingFangSC-Regular, sans-serif;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
/* Loading Screen */
.a-loader-title {
    z-index: 1;
    position: absolute;
    font-family: PingFangSC-Regular, sans-serif;
}